{% extends 'base.html' %}
{% block page_content %}
    <div>
        <p><a href="/admin">Admin</a></p>
        <p><a href="/projects">Projects</a></p>
        <p><a href="/blog">Blog</a></p>
    </div>
{% endblock %}