{% extends 'base.html' %}
{% load static %}
{% block page_content %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<h1>{{ project.title }}</h1>
<div class="row">
    <div class="col-md-4">
        <img src="https://i.pinimg.com/564x/3d/68/3d/3d683dd63b9192e4204fcaf73ef42a50.jpg" alt="" width="100%">
    </div>
    <div class="col-md-8">
        <h5>About the project:</h5>
        <p>{{ project.description }}</p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ project.technology }}</p>
    </div>
</div>
{% endblock %}